section.contact
	.contact__container 
		img.contact__img(src="@img/Contact/contact__img.svg", alt="")
		.contact__content 
			h2.contact__title.page-title Contact Us
			.contact__text 	
				p Discover your current English level by taking our free online English test.Sign up to our newsletter for learning tips and free resources
			form.contact__form(action="#", method="POST", enctype="multipart/form-data")
				input.contact__email(type="email", id="email", name="name", value="", placeholder="Enter Your E-mail", required)
				button.contact__button(type="button") Subscribe