footer.footer
	.footer__container
		.footer__body
			a.footer__logo.logo(href="#")
				svg.logo__icon
					use(xlink:href="#logo")
			ul.footer__rights.rights
				li.rights__item 
					a.rights__link(href="") Terms and Conditions
				li.rights__item 
					a.rights__link(href="") Privacy Policy
				li.rights__item 
					a.rights__link(href="") Cookie Policy