header.header 
	.header__container
		a.header__logo.logo
			svg.logo__icon
				use(xlink:href="#logo")
		nav.header__menu.menu
			button.menu__icon.icon-menu(type="button", aria-label="Open menu")
				span
			.menu__body
				ul.menu__list
					li.menu__item
						a.menu__link(href="", data-goto=".intro") Home
					li.menu__item
						a.menu__link(href="", data-goto=".skills") Skills
					li.menu__item
						a.menu__link(href="", data-goto=".about") About Us
					li.menu__item
						a.menu__link(href="", data-goto=".pricing") Pricing
					li.menu__item
						a.menu__link(href="", data-goto=".contact") Contacts
				button.menu__close(type="button", aria-label="Close menu")
		a.header__link(href="#contact")  Let’s Talk