section.intro
	.intro__container
		.intro__content 
			h1.intro__title Learn <br> Any Foreign <br> Language
				span.intro__title_icon
			.intro__text 
				p With our teachers who write a&nbsp;program for each student, you will be&nbsp;able to&nbsp;make your first sketch after the first lesson.
			a.intro__link.page-link(href="#") Get started
		img.intro__img(src="@img/Intro/intro__img.svg", alt="")