section.pricing
	.pricing__container
		h2.pricing__title.page-title Pricing
		.pricing__body 
			.pricing__column
				.pricing__item 
					.pricing__img
						img(src="@img/Pricing/pricing__img-1.svg", alt="Pricing image")
					.pricing__content
						h3.pricing__name Self-study online course
						.pricing__text 
							p Start learning English online in live classes with qualified EC teachers and students from all over the world.
						.pricing__price 
							.pricing__count &pound;5.99
							.pricing__interval  per month
			.pricing__column
				.pricing__item 
					.pricing__img
						img(src="@img/Pricing/pricing__img-2.svg", alt="Pricing image")
					.pricing__content
						h3.pricing__name Live online classes
						.pricing__text 
							p Interactive group classes with expert teachers. Free 7-day trial
						.pricing__price 
							.pricing__count &pound;12.99
							.pricing__interval  per month
			.pricing__column
				.pricing__item 
					.pricing__img
						img(src="@img/Pricing/pricing__img-3.svg", alt="Pricing image")
					.pricing__content
						h3.pricing__name Personal Tuition
						.pricing__text 
							p Online one-to-one English tutoring – enjoy our first session for only $1
						.pricing__price 
							.pricing__count &pound;20.99
							.pricing__interval  per month
