$fontSize: 16;
$fontFamily: "Poppins", sans-serif;

// $maxWidthContainer: 1400; // 1340px + 60px
// $containerPadding: 60;
// $minWidthLayout: 320;
// $maxWidthLayout: 1600;

// $white-primary: #fff;
// $white-secondary: #f9f9f9;
$grey-primary: #8F95A5;
// $grey-secondary: #5c5c5c;
// $red: #da4533;
$black: #000;

$primaryColor: $grey-primary;
// $secondaryColor: $grey-secondary;
// $tertiaryColor: $white-secondary;
// $brandColor: $red;
// $primaryAccentColor: $white-primary;
// $secondaryAccentColor: $black;